<div class="h-100 d-flex align-items-center justify-content-center mt-4 ">
    <div class="border border-dark rounded bg-muted text-dark" style="width: 50%; font-size: 15px; ">
      <h2 class="container  text-center mt-3">User Address</h2>
      <form class="row g-3 d-flex p-3" [formGroup]="UserAdd" (ngSubmit)="AddressUser()">
        <div class="col-md-6">
          <label for="inputEmail4" class="form-label">Address</label>
          <input type="text" placeholder="Enter your Address" class="form-control" formControlName="Address" id="inputEmail4" autocomplete="off" required/>
          <div class="design" *ngIf="Address && Address.errors && Address.errors['required'] && (Address.touched || Address.dirty)" 
          >Address is required
  </div>

    </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">City</label>
          <input type="text" placeholder="Enter your city" class="form-control" formControlName="City" id="inputPassword4" />
          <div class="design"  *ngIf="City && City.errors && City.errors['required'] && (City.touched || City.dirty)" 
          >City is required
        </div>
        <div class="design"  *ngIf="City && City.errors && City.errors['pattern'] && (City.touched || City.dirty)" 
          >Invalid City/Please enter valid city
        </div>
    </div>
        
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">State</label>
          <input type="text" placeholder="Enter your state" class="form-control" formControlName="State" id="inputPassword4" />
          <div  class="design" *ngIf="State && State.errors && State.errors['required'] && (State.touched || State.dirty)" 
          >State is required
       </div>
       <div  class="design" *ngIf="State && State.errors && State.errors['pattern'] && (State.touched || State.dirty)" 
          >Please enter valid state
       </div>
      
        </div>
        <div class="col-md-6">
          <label for="inputPassword4" class="form-label">Pincode</label>
          <input type="text" placeholder="Enter your pincode" maxlength="6" class="form-control"  formControlName="Pincode" id="inputPassword4" />
          <div class="design" *ngIf="Pincode && Pincode.errors && Pincode.errors['required'] && (Pincode.touched || Pincode.dirty)" 
          >Pincode is required
      </div>
      <div class="design" *ngIf="Pincode && Pincode.errors && Pincode.errors['pattern'] && (Pincode.touched || Pincode.dirty)"  >please enter a valid input</div>
        </div>
       
        <div class="col-6">
            <button type="submit" Value="Next"class="btn btn-primary" routerLink="/SignupComponent">Previous</button>
          </div>
        <div class="col-6 text-end">
          <button type="submit" class="text-end" Value="Next"class="btn btn-primary"  [disabled]="UserAdd.invalid">Next</button>
          <div *ngIf="UserAdd.invalid">Next button is disabled.Please fill all required field</div>
        </div>
      </form>
    </div>
  </div>