<div class="h-100 d-flex align-items-center justify-content-center mt-5">
<div class="border border-dark rounded bg-secondary bg-muted text-dark" style="width: 50%; font-size: 15px;">
    <h2 class="container   text-center text-white mt-3">About Me</h2>
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <strong>Short Intro</strong> 
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          My name is <strong>ANUBHAV JAIN</strong> I am born and bought up in sirsaganj. I have done 10th from Maa Ajani Sr.Sec School and 12th from Swami vivekanad Academy. Currently I am in my final year doing B.Tech from Computer Science and Engineering. 
          I have also done two mini project in college time and both the project are based on web development. The name of the first project is Market Insider and the theme of the project is show the live prices of cryptocurrency and the second project name is Web Editor, 
          theme of the project is we can write the code in HTML,CSS and JS and show the result of the Browser.
            and currently I am starting my journey as a Software Inten at Humanitics Dimensions Software Pvt.Ltd
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <strong>Skills</strong>
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>
            <p><b>
            JAVA,<br>
            Data Structure,<br>
            HTML,<br>
            CSS,<br>
            SQL.</b>
          </p>
        </strong>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <strong>
            Hobbies
          </strong>
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong><p>Playing Badminton<br>Listening Music<br>Watching Movies and Web Series</p></strong> 
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingfour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
            
              <strong>Contact Details</strong>
            
          </button>
        </h2>
        <div id="collapsefour" class="accordion-collapse collapse" aria-labelledby="headingfour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong><p><b>Mobile No.</b> 9690943605<br><b>E-mail: </b>janubhav3605@gmail.com<br><b>Linked in: </b><a href="https://github.com/Anubhav-Jain05">Visit Here</a></p></strong> 
          </div>
        </div>
      </div>
  </div>
</div>
</div>
