<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/HumaniticsComponent">Humanitics</a>
      <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse  justify-content-end" id="navbarNavAltMarkup" style="font-size: 15px;">
        <div class="navbar-nav">
          <a  class="nav-link text-white" routerLink="/HomeComponent" >Home</a>
          <a class="nav-link text-white" routerLink="/AboutUsComponent">About Us</a>
          <a class="nav-link text-white" routerLink="/ContactComponent">Contact</a>
          <a class="nav-link text-white" routerLink="/ServicesComponent">Service</a>
          <!-- <a class="nav-link text-white" routerLink="/ServicesComponent">Cart</a> -->
          <a class="nav-link text-white bg-success"routerLink="/SignupComponent">SignUp</a>
          
        </div>
      </div>
    </div>
  </nav>
  
  