<app-header></app-header>
<div class="container">
    <div class="h4  d-flex justify-content-center">primeNG:- 
       <div class="text-decoration-underline" >
        <a href="https://primeng.org/table" target="_blank">Visit Here</a>
       </div>
    </div>
    <div class="h4  d-flex justify-content-center">Bootstrap Implementation:- 
        <div class="text-decoration-underline "  >
         <a href="https://www.npmjs.com/package/bootstrap/v/5.0.1" target="_blank" >Visit Here</a>
        </div>
     </div>
     <div class="h4  d-flex justify-content-center">Angula.io:- 
        <div class="text-decoration-underline "  >
         <a href="https://angular.io/" target="_blank">Visit Here</a>
        </div>
     </div>
     <div class="h4  d-flex justify-content-center">ngx-owl-carousel-o
        :- 
        <div class="text-decoration-underline "  >
         <a href="https://www.npmjs.com/package/ngx-owl-carousel-o" target="_blank" >Visit Here</a>
        </div>
     </div>
     <div class="h4  d-flex justify-content-center">ngx-toastr
        :- 
        <div class="text-decoration-underline "  >
         <a href="https://www.npmjs.com/package/ngx-toastr" target="_blank">Visit Here</a>
        </div>
     </div>
     <div class="h4  d-flex justify-content-center">Email Sending
        :- 
        <div class="text-decoration-underline " >
         <a href="https://mailtrap.io/blog/angular-send-email/"  target="_blank" >Visit Here</a>
        </div>
     </div>
     <div class="h4  d-flex justify-content-center">ngx-ui-loader
        :- 
        <div class="text-decoration-underline " >
         <a href="https://tdev.app/ngx-ui-loader"  target="_blank">Visit Here</a>
        </div>
     </div>
     <div class="h4  d-flex justify-content-center">Accordion
        :- 
        <div class="text-decoration-underline "  >
         <a href="https://getbootstrap.com/docs/5.0/components/accordion/" target="_blank">Visit Here</a>
        </div>
     </div>
     <div class="h4  d-flex justify-content-center">ModelAlert
        :- 
        <div class="text-decoration-underline"  >
         <a href="https://getbootstrap.com/docs/4.0/components/modal/" target="_blank">Visit Here</a>
        </div>
     </div>
</div>
<app-footer class="fixed-bottom"></app-footer>
<!-- // "../node_modules/chart.js/dist/chart.js" -->