<app-header></app-header>
<div class="text-end">
    <button  class="btn btn-secondary mt-3" style="margin-right: 15px;" routerLink="/JqueryimmplComponent">Next</button>
</div>
<h2 class="text-center">JS ES6 Practice</h2>
<div>
<p class="h4">Let keyword</p>
<div><p class=h3>Value of x is: {{letkeyword()}}</p></div><hr>
</div>
<div>
    <p class="h4">Const keyword</p>
    <div><p class="h3">Valye of y is: {{constkeyword()}} </div><hr>
</div>
<div>
    <p class="h4">Arrow function</p>
    <p class="h3">multiply of x * y is: {{Arrowfunction()}} </p>
    <p class="h3">addition of x & y is: {{addition()}}</p>
    <p class="h3">subtraction of x & y is: {{subtraction()}}</p><hr>
</div>
<div>
    <p class="h4"> Spread function</p>
    <p class="h3">month: {{spreadfunction()}}</p>
    <p class="h3">Maximum number: {{ maxinumber()}}</p><hr>
</div>
<div>
    <p class="h4">for/Of loops</p>
    <p class="h3">print the car name using for/of loop: {{forof()}}</p>
    <p class="h3">loop over string: {{loopoverstring()}}</p><hr>
</div>
<div>
    <p class="h4">map function</p>
    <p class="h3">print the price of pen: {{mapfunction()}}</p><hr>
</div>
<div>
    <p class="h4">class/constructor</p>
    <p class="h3"> {{jsclass()}}</p><hr>
</div>
<div>
    <p class="h4">promises(producing:take some time  and consuming:wait for the result)</p>
    <!-- <p class="h3"> {{promises()}}</p><hr>
    {{comment}} -->
</div>


















<app-footer ></app-footer>