<app-header></app-header>


<div class="container ">

    <p>Click on the images.</p>
    <div class="row ">
        <div class="col-md-4  border border-dark">
            <div class="thumbnail">
                <img src="https://cdn.pixabay.com/photo/2020/03/09/06/18/camera-4914690__340.jpg" alt="bag"
                    style="width:100%">

                <div class="row" style="margin-bottom:0.5rem;">
                    <div class="col-6 mt-2">
                        <button type="submit" Value="minus" class="btn btn-white">-</button>
                    </div>
                    <div class="col-6 text-end mt-2">
                        <button type="submit" Value="plus" class="btn btn-white justify-content-end">+</button>
                    </div>
                </div>



            </div>
        </div>
        <div class="col-md-4 border border-dark">
            <div class="thumbnail">
                <img src="https://cdn.pixabay.com/photo/2020/01/26/20/14/computer-4795762__340.jpg" alt="Nature"
                    style="width:100%">
                <div class="caption">
                    <div class="row " style="margin-bottom:0.5rem;">
                        <div class="col-6 mt-2">
                            <button type="submit" Value="minus" class="btn btn-white">-</button>
                        </div>
                        <div class="col-6 text-end mt-2">
                            <button type="submit" Value="plus" class="btn btn-white justify-content-end">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 border border-dark">
            <div class="thumbnail">

                <img src="https://cdn.pixabay.com/photo/2021/01/22/16/55/camera-5940588__340.jpg" alt="Fjords"
                    style="width:100%">
                <div class="caption">
                    <div class="row " style="margin-bottom:0.5rem;">
                        <div class="col-6 mt-2">
                            <button type="submit" Value="minus" class="btn btn-white">-</button>
                        </div>
                        <div class="col-6 text-end mt-2">
                            <button type="submit" Value="plus" class="btn btn-white justify-content-end">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-end ">
            <button type="submit" Value="Next"class="btn btn-primary  justify-content-end" routerLink="/CartComponent">Go to Cart</button>
            <!-- <div *ngIf="SignUpForm.invalid">Next button is disabled.Please fill all required field</div> -->
          </div>
    </div>
</div>
<app-footer class="fixed-bottom"></app-footer>