<app-header></app-header>
<section class="cart_section">
   <div class="container">
   <h2>Cart</h2>
        <table>
            <tr>
              <th>Image</th>
              <th>Price</th>
              <th>Quantity</th>
              <th>sub.total</th>
              <!-- <th>Remove Item</th> -->
            </tr>
            <!-- {{getCartDet.length}} -->
            <tr *ngFor="let getCartDets of getCartDet">
              <td><img src="{{getCartDets.img}}" height="50px"></td>
              <td>{{getCartDets.amt}}</td>
              <td>
                <div class="content">
                    <!-- <button type="button" class="btn"><i class="bi bi-plus"></i></button> -->
                    <button type="button" class="btn" (click)="incQnt(getCartDets.prodId, getCartDets.qnt)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                      </svg>
                    </button>
                      <span> {{getCartDets.qnt}}  </span>
                      <button type="button" class="btn" (click)="decQnt(getCartDets.prodId, getCartDets.qnt)"> -</button>
                </div>
                <td>{{getCartDets.qnt * getCartDets.amt | number}}</td>
            </tr>
            
        </table>
        <div class="col-md-6">
          <h3>Total- rs {{total}}</h3>
        </div>
            <!-- <tr>
              <td>Centro comercial Moctezuma</td>
              <td>Francisco Chang</td>
              <td>Mexico</td>
            </tr>
            <tr>
              <td>Ernst Handel</td>
              <td>Roland Mendel</td>
              <td>Austria</td>
            </tr>
            <tr>
              <td>Island Trading</td>
              <td>Helen Bennett</td>
              <td>UK</td>
            </tr>
            <tr>
              <td>Laughing Bacchus Winecellars</td>
              <td>Yoshi Tannamuri</td>
              <td>Canada</td>
            </tr>
            <tr>
              <td>Magazzini Alimentari Riuniti</td>
              <td>Giovanni Rovelli</td>
              <td>Italy</td>
            </tr> -->
          
    </div>
</section>

























<app-footer class="fixed-bottom"></app-footer>
